<h1>Listing Likes</h1>

<table>
  <thead>
    <tr>
      <th>likers</th>

      <th></th>
    </tr>
  </thead>
  <tbody>
<%= for like <- @likes do %>
    <tr>
      <td><%= like.user_id %></td>

    </tr>
<% end %>
  </tbody>
</table>
